<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sist.dept.dao"> <!-- 패키지/아무말 대잔치 -->
  <select id="selectAllDept" resultType="kr.co.sist.member.vo.DeptVO">
    select deptno, dname, loc from dept
  </select>
</mapper>